.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-student {
  color: #121625;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-right: 24px;
}

.search-bar {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 345px;
  background-color: #e6e6ea;
  border-radius: 5px;
  padding: 12px 15px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
