.filter-section-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.filter-section-container:not(:last-child) {
  margin-bottom: 25px;
}

.filter-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #121625;
  margin-bottom: 15px;
}

.filter-select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f9;
  border-radius: 8px;
  padding: 12px 15px;
  width: 100%;
  height: 40px;
}

.skills-select-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #a5a8b3;
  letter-spacing: 0.005em;
  background-color: transparent;
  border: none;
  outline: none;
}

.skills-select {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  right: 16px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.skills-select-chevron {
  position: static;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  transition: all 0.25s ease;
}

.selected-skills-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}
