.students-table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-radius: 20px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e6e6ea;
}

td {
  border-bottom: 1px solid #e6e6ea;
  padding: 19px 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #121625;
}

.skill-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skill-tag {
  margin: 0;
  padding: 4px 8px;
  background-color: #32d5a4;
  border-radius: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: max-content;
  margin-right: 6px;
}
