.filter-section-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.filter-section-container:not(:last-child) {
  margin-bottom: 25px;
}

.filter-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #121625;
  margin-bottom: 15px;
}
